body{
    background: url(library.jpg);
    background-size: cover;
    background-repeat: no-repeat;    
}

.Sign{
    background: rgba(88, 48, 75, 0.7);
    padding: 50px;
    border-radius: 20px;
    width: 250px;
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 50px;
    height: 550px;   
}

form{
    width: 250px;
    margin-top: -10px;
    text-align: center;   
}

input{
    width:200px ;
    text-align: center;
    background: transparent;
    border: none;
    padding-left: -30px;
    border-bottom: 2px solid white;
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
   color: white;
}

button{
    width: 170px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

button:hover{
    background: black;
    color: white;
}

::placeholder{
    color: white;
    opacity: 0.6;
}

p{
    color: white;
}

h2{
    color: rgb(195, 204, 190); 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
    
p{
    color: white;  
    font-family: Arial, Helvetica, sans-serif;
}

select{
    width: 200px;
    border: none;
    text-align: center;
     color: white;
    font-size: 15px;
    font-weight: 500;
    background: rgba(88, 48, 75, 0.5);
    margin-top: 5px;
    opacity: 0.6;    
}

a{
    color: rgb(195, 204, 190);
}




    
h1{
    text-align: justify;
    width: 500px;
    font-size: 30px;
     color: rgb(190, 191, 205);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
    

